<template name="settings2FAModalPage3">
 <div class="modal inmodal fade" id="settings2FAModalPage3" tabindex="-1" style="overflow:auto;" role="dialog"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <h5 class="modal-title">
      Authentication Complete
     </h5>
    </div>
    <div class="modal-body" align="center">

     <div class="row">
      <div class="col-sm-12 text-center">
       <span style="color:#328EEC;"><i class="fa fa-envelope-o fa-5x"></i></span>
       <br>
      </div>
      <div class="col-sm-12 text-center">
       <br>
       <h3> An activation link has been sent to your email address</h3>
      </div>
     </div>

     <br>
    </div>

    <div class="modal-footer">
     <button type="button" class="btn btn-primary modalProgressButton" data-dismiss="modal">Done</button>
    </div>

   </div>
  </div>
 </div>
</template>