<template name="identificationGrid">
 <div class="row">
   <div class="col-sm-3" align="left">
    <div class="form-group">
     <input class="form-control input-sm idSearch" type="text" placeholder="Search by customer ID"
     autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
    </div>
   </div>  
   <div class="col-sm-2" align="left">
    <div class="form-group">
      <select class="form-control input-sm status" style="padding-left:7px;" type="select" title="Status">
       <option value="ALL" selected>All</option>
       <option value="PENDING">Pending</option>
       <option value="DONE">Done</option>
      </select>
    </div>
   </div>
   <br><br><br>
   
  <div class="col-sm-12 gridTable">
   {{> reactiveTable collection=identifications settings=tableSettings}}
   {{#unless identifications}}No Identity Verification checks found.{{/unless}}
  </div>

  {{#if identifications}}
   <div class="col-sm-12" align="right">
     <button class="btn btn-plain btn-sm previousPage pageButton" type="button" {{previousPageStatus}}>Previous</button>
     Page {{currentPage}} of {{totalPages}}
     <button class="btn btn-plain btn-sm nextPage pageButton" type="button" {{nextPageStatus}}>Next</button>
   </div>
  {{/if}}

 </div>
</template>