<template name="profileLogo">
 <span class="pull-right">
  <h2>
   <a data-toggle="dropdown" class="dropdown-toggle" href="#">
    <span class="clear"> 
     <span class="block m-t-xs">
      <i class="fa fa-user-circle-o fa-lg profileLogo" aria-hidden="true"></i>
     </span>
    </span> 
   </a>
   <ul class="dropdown-menu animated fadeInRight m-t-xs pull-right">
    <li><a href="/profileSettings">Profile</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Logout</a></li>
   </ul>
  </h2> 
 </span>
</template>