<template name="associationsGraph">
 <!-- <div class="sk-spinner sk-spinner-double-bounce">
   <div class="sk-double-bounce1 "></div>
   <div class="sk-double-bounce2"></div>
 </div> -->

 <!-- {{#if associations}} -->
  <!-- {{#each associations}} -->
   <!-- {{associations}} -->
   
   <!-- <div id="mynetwork"><div class="vis-network" tabindex="900" style="position: relative; overflow: hidden; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 100%;"><canvas style="position: relative; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 100%;" width="800" height="800"></canvas></div></div> -->
  
  <div id="mynetwork" style="height:100%;width:100%;"></div>
   <!-- {{/each}} -->
 <!-- {{else}}
  No associations available.
 {{/if}} -->
</template>